html {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(/src/img/sneak-peek-bg.jpg) repeat;
  background-size: 100%;
  background-position: top;
  background-color: grey;
  min-height: 100%;
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button, form h5 {
  margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: red;
  box-shadow: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home {
  background: #fff;
  margin-top: 48px;
}

.search-bar {
  display: flex;
  align-items: center;
}

.result-list {
  margin: 24px 0;
}

.result-item {
  display: flex;
  align-items: center;
}

.result-item span {
  margin-left: 16px;
}

.product {
  display: flex;
  background: #fff;
  margin: 50px;
  padding: 24px;
}

.product-photo {
  display: block;
  margin-right: 24px;
  max-width: 300px;
}

.product-photo img {
  max-width: 100%;
}

.product-information {
  color: #000;
}

.product-name {
  font-size: 36px;
  margin: 0 0 24px 0;
}

.product-details li span {
  font-weight: bold;
}

.loading {
  color: #fff;
  font-size: 36px;
  margin: 100px 0;
  text-align: center;
}

.shoe-size {
  display: block;
}
